<% include ../partials/header %>

<div class="container">
    <div class="row">
    <h1 style="text-align: center">Edit <%= dreamcamp.name %></h1>
    
    <div style="width:30%; margin: 40px auto">
        <form method="POST" action="/dreams/<%= dreamcamp._id %>?_method=PUT">
            <div class="form-group">
                <input class="form-control" type="text" value="<%= dreamcamp.name %>" name="dreamcamp[name]">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" value="<%= dreamcamp.image %>" name="dreamcamp[image]">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" value="<%= dreamcamp.description %>" name="dreamcamp[description]">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
        </form>
        <a href="/dreams">View All Dreams</a>
    </div>

    </div>
</div>

<% include ../partials/footer %>